body{
    background-color: #84a18b;
    font-family: 'Lobster', cursive;
}

p{
    letter-spacing: 3px;
    font-family: 'Lobster', cursive;
}

.header_div{
  font-size: large;
  color: black;
  background-color: white;
}

button{
    margin-top: 50px;
    font-size: large;
    width: 125px;
    background-color: #afbd9f;
    border: 2px ridge white;
    color: white;
    letter-spacing: 2px;
    font-weight: bolder;
}

.copyright_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    background-color: #c2cfb2;
    color: #55594f;
    font-size: medium;
    text-shadow:2px 1px #333630;
}
